# Include standard documentation
include LICENSE
include README.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include SUPPORT.md

# Include all collection resources
recursive-include agents *.md
recursive-include context *.md
recursive-include profiles *.md
